doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block banner
      img.image(src= "http://4.bp.blogspot.com/-hH1DlpbRFmM/T8FLty5vLYI/AAAAAAAABqo/ANmGg89YmsQ/s1600/upper+class+twit.jpg")
    block content
      h1= title
      